.header {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.header-info {
    margin-top: 38px;
    margin-bottom: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 19, 14);
    color: orange;
    padding: 5px;
    margin: 0;
    /* height: 200px; */

}

.header-info h2 {
    margin: 16px;
}