.quiz-container {
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}


@media only screen and (min-width: 768px) {

    .quiz-option {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}


.quiz-container h1 {
    color: rgb(138, 16, 252);
}