.option {
    width: 100%;
    font-size: 20px;
    padding: 20px;
    border: 2px solid black;
    cursor: pointer;
    background-color: rgb(212, 212, 238);

}

.option:hover {
    background-color: orange;
}