.card {
    background-color: rgb(37, 36, 36);
    color: white;
    padding: 10px;
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;

    border: 2px solid brown;
    border-radius: 10px;
    width: 100%;

}

.card img {
    width: 100%;


}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    color: orange;
}

.card-btn {
    font-size: 17px;
    background-color: rgb(48, 20, 151);
    color: rgb(255, 255, 255);
    padding: 8px;
    width: 150px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}

.card-btn:hover {
    background-color: rgb(250, 183, 57);
    color: black;
}

@media only screen and (min-width: 768px) {
    .card {
        background-color: rgb(37, 36, 36);
        color: white;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        /* height: 250px; */
        border: 2px solid brown;
        border-radius: 10px;
        width: 500px;

    }
}