.error {
    padding-top: 150px;
    margin: auto;
    text-align: center;
    color: rgb(255, 1, 1);
    background-image: linear-gradient(orange, white);
    height: 500px;
}

.error a {
    color: rgb(61, 0, 228);
}